.service_name{
    margin: 24px 16px;
}

.top_profile_icon{
    padding: 16px;
}

.top_bar{
    background: white;
}

.feed_under_space{
    height: 60px;
    width: 100%;
}

.feed_user_info{
    display: flex;
}

.feed_user_name{
    margin: 7px;
}






