#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 20px;

  /* background-color: rgba(255, 255, 255, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.4); 
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(20px); 
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 20px rgba(255, 152, 79, 0.5);  */
  background-color: white;
}

.swiper_img{
  width: auto;
  height: 90px;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 20px 20px 0px 0px;
}


.mySwiper{
  height: 120px;
  width: 90%;
  margin-left: 20px;
}

.category_name{
  font-size: 12px;
}

.collect_feedback_category{
  margin: 20px;
  background: gray;
  height: 190px;
  border-radius: 20px;
  background: rgb(239,137,202);
  background: linear-gradient(41deg, rgba(239,137,202,0.5620842086834734) 0%, rgba(236,154,21,0.5536808473389356) 100%);
}

.collect_my_answer{
  margin: 20px;
  background: gray;
  height: 190px;
  border-radius: 20px;
  background: rgb(137,220,239);
  background: linear-gradient(41deg, rgba(137,220,239,0.5620842086834734) 0%, rgba(123,21,236,0.5536808473389356) 100%);
}

.collect_feedback_category_p{
  padding: 16px
}

.collect_my_answer_p{
  padding: 16px
}